---
import "../styles/global.css";
import {
  PUBLIC_SITE_TITLE,
} from "../server-constants";

interface Props {
  title: string;
  description: string;
  url?: URL | undefined;
  ogImage: string;
}

const {
  title,
  description,
  url,
  ogImage,
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="robots" content="max-image-preview:large" />
<meta charset="UTF-8" />
<link rel="canonical" href={url} />
<meta property="og:url" content={url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content={PUBLIC_SITE_TITLE} />
<meta property="og:image" content={ogImage} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content={ogImage} />

<title>{title}</title>

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&family=Rubik:wght@500;600&display=swap"
  rel="stylesheet"
/>
